<header class="header-main">
    <span >
      <img src="/images/luvit.svg" alt="">
    </span>
    <nav >
      <a href="/dashboard" class="link" ><img id="squares" class="icon" src="/images/iconlist.svg" alt=""></a> 
      <a href="/user" class="link"><img class="icon" src="/images/iconuser.svg" alt=""></a>
    </nav>
  </header>