<body class="body">
  


<form
  method="post" action="/collection/add-collection" enctype="multipart/form-data">

  <div class="step one shadow">
    <p>Your collection</p>
    <label for="name" class="label">Add a name to your collection</label>
    <input
      class="input"
      type="text"
      id="name"
      name="name"
      placeholder="ex: Our next trip"
    />
    <button type="button"></button>
  </div>

 <div class="step two shadow">
   <p>Your collection</p>
  <label for="image" class="label">
    Choose a cover picture
    
  </label>
  <input
    class="input"
    type="file"
    id="image"
    name="image"
    accept="image/png, image/jpeg"
  />
  <button type="button"></button>
</div>

<div class="step three shadow">
  <p>Your collection</p>
  <label for="description" class="label">Add a simple description</label>
  <textarea
    type="text"
    class="input"
    id="description"
    name="description"
    placeholder="ex: Articles, videos .. for our next trip "
  ></textarea>
  <input type="submit" value="Done">
</div>

  
</form>

</body>

