<body class="body">

  <form
    method="post"
    action="/dashboard/{{collectionId}}/add-card"
    class="form"
    enctype="multipart/form-data"
  >

    <div class="step left shadow">

      <div class="canceldiv">
        <a href="javascript:history.back()">
          <img src="/images/close.svg" alt="close" />
        </a>
      </div>

      <p class="title center">Create your card </p>

      <div class="double">
        <div class="leftpart">
          <label for="name" class="label closer">Name</label>
          <input
            class="input smallerinput"
            type="text"
            id="name"
            name="name"
            placeholder="Name your card"
          />

          <label for="image" class="label closer">
            Choose a picture
          </label>
          <input
            class="input smallerinput spe"
            type="file"
            id="image"
            name="image"
            accept="image/png, image/jpeg"
          />

          <label for="description" class="label closer">description</label>
          <textarea
          maxlength="50"
            type="text"
            class="input smallerradius field smallerinput"
            id="description"
            name="description"
            placeholder="What is your card about ?"
          ></textarea>
        </div>

        <div class="rightpart">

          <label for="links" class="label closer">Enter your links here :</label>
          <input
            type="url"
            name="links"
            id="links"
            placeholder="https://example.com"
            pattern="https://.*"
            size="30"
            class="input smallerinput space"
          />
          <input
            type="url"
            name="links"
            id="links"
            placeholder="https://example.com"
            pattern="https://.*"
            size="30"
            class="input smallerinput space"
          />
          <input
            type="url"
            name="links"
            id="links"
            placeholder="https://example.com"
            pattern="https://.*"
            size="30"
            class="input smallerinput space"
          />
          <input
            type="url"
            name="links"
            id="links"
            placeholder="https://example.com"
            pattern="https://.*"
            size="30"
            class="input smallerinput space"
          />
          <input
            type="url"
            name="links"
            id="links"
            placeholder="https://example.com"
            pattern="https://.*"
            size="30"
            class="input smallerinput space"
          />
          <input
            type="url"
            name="links"
            id="links"
            placeholder="https://example.com"
            pattern="https://.*"
            size="30"
            class="input smallerinput space"
          />
        </div>
      </div>
      <input type="submit" value="Create" class="done button center" />
    </div>
  </form>

</body>