<body class="body">
{{> nav_bar}}
<form
  method="post"
  action="/dashboard/add-collection"
  class="form"
  enctype="multipart/form-data"
>

  <div class="step one shadow">

<div class="canceldiv">
  <a href="/dashboard"> <img src="/images/close.svg" alt="close"> </a>
</div>

    <p>Your collection</p>
    <label for="name" class="label">Add a name to your collection</label>
    <input
    maxlength="25"
      class="input"
      type="text"
      id="name"
      name="name"
      placeholder="ex: Our next trip"
    />
    <button type="button"></button>
  </div>

 <div class="step two shadow">

   <div class="canceldiv">
  <a href="/dashboard"><img src="/images/close.svg" alt="close"></a>
</div>

   <p>Your collection</p>
  <label for="image" class="label">
    Choose a cover picture 
  </label>

  <input
    class="input spe"
    type="file"
    id="image"
    name="image"
    accept="image/png, image/jpeg"
  />
  <button type="button"></button>
</div>

<div class="step three shadow">

<div class="canceldiv">
  <a href="/dashboard"> <img src="/images/close.svg" alt="close"> </a>
</div>

  <p>Your collection</p>
  <label for="description" class="label">Add a simple description</label>
  <textarea
    type="text"
    class="input smallerradius field"
    id="description"
    name="description"
    placeholder="ex: Articles, videos .. for our next trip "
    maxlength="50"
  ></textarea>
  <input type="submit" value="Done" class="done button">
</div>

  
</form>

</body>

