<body class="bodysee">

  <div class="join flip">

    <div class="joinus signin">
      <div>
        <p>Welcome Back</p>
        <p>Glad to see you again friend</p>

      </div>

      <div>

      </div>

    </div>

    <div class="joinus signup">
      <div class="blanc">
        <p>Welcome Back</p>
        <p>Glad to see you again friend</p>
        <button class="button">SIGN IN</button>
      </div>

      <div class="violet">
        <p>Create an account</p>
      </div>
    </div>

  </div>

  <script>
    let card = document.querySelector(".join"); card.addEventListener("click",
    function() { card.classList.toggle("flip"); });
  </script>

</body>