<body class="bodysee">

  <div class="join flip">

    <div class="joinus signin">
      <div class="signintoluvit">
        <p class="fat closer">Sign in <br /> to Luvit </p>
        <form method="post" action="/auth/signin" class="formsign">
          <label for="email"></label>
          <input
            class="inputone cursor"
            type="email"
            name="email"
            placeholder="aurélieferry@email.com"
          />
          <label for="password"></label>
          <input
            class="inputone cursor"
            type="password"
            id="password"
            name="password"
            placeholder="imtheboss"
          />
          <button class="button purple">SIGN IN</button>
        </form>
      </div>

      <div class="gladtomeetyou">
        <p class="fat closer">Hello <br />there !</p>
        <p class="small">Glad to finally<br />meet you</p>
        <div class="button clicked">SIGN UP</div>
      </div>

    </div>

    <div class="joinus signup">
      <div class="blanc">
        <p class="fat closer">Welcome <br /> Back</p>
        <p class="small">Glad to see you <br /> again friend !</p>
        <div class="button click">SIGN IN</div>
      </div>

      <div class="couleur">
        {{> flash_message }}
        <p class="fat">Create an <br /> account</p>
        <form method="post" action="/auth/signup" class="formsign"> 

          <label for="firstName"></label>
          <input
            class="inputone cursor"
            type="text"
            name="firstName"
            placeholder="Aurélie"
          />
          <label for="lastName"></label>
          <input
            class="inputone cursor"
            type="text"
            name="lastName"
            placeholder="Ferry"
          />
          <label for="email"></label>
          <input
            class="inputone cursor"
            type="email"
            name="email"
            placeholder="aurélieferry@email.com"
          />
          <label for="password"></label>
          <input
            class="inputone cursor"
            type="password"
            id="password"
            name="password"
            placeholder="imtheboss"
          />
          <button class="button purple">SIGN UP</button>
        </form>

      </div>
    </div>

  </div>

  <script>

    let card = document.querySelector(".button.click"); 
    let join =document.querySelector(".join"); 
    card.addEventListener("click", function() {
    join.classList.toggle("flip"); });


let carddeux = document.querySelector(".button.clicked"); 
     
    carddeux.addEventListener("click", function() {
    join.classList.toggle("flip"); });
  </script>

</body>