<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script type="module" src="/javascripts/index.js" ></script>
  </head>
  <body>

 
    <header class="header-main">
    <span id="logo-main">
      <a href="/"><img src="/images/luvit.svg" alt=""></a>
    </span>
    <nav >
      <a href="/collection" class="link"><img class="icon" src="/images/iconlist.svg" alt=""></a> 
      <a href="/userprofil" class="link"><img class="icon" src="/images/iconuser.svg" alt=""></a>
    </nav>
  </header>
    {{{body}}}
  </body>
</html>
