.step{
  background-color: #04001C;
  border-radius: 20px;
  width: fit-content;
  padding: 80px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  color: white;
  border: 1px solid #6a52f0;
border-radius: 30px;
width: fit-content;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 40px;
padding-right: 40px;
background-color: rgba(255, 255, 255, 0);
}

.step p{
font-weight: bold;
font-size: 25px;
}

.step button {
background-image: url("./../images/done.svg");
background-size: contain;
width: 40px;
height: 40px;
border-radius: 20px;
border: none;
margin-top: 40px;
}

.form{
display: flex;
justify-content: center;
align-items: center;
min-height: 80vh;
}

.label{
color: #6a52f0;
margin-bottom: 40px;
font-size: 15px;
}