/* -------------------- grosse div avec toutes les collection --------------------------*/
/* DO NOT TOUCH */

.collection-maincontainer {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(auto-fit, 330px);
  padding: 50px 145px 100px 165px;
  justify-content: center;
}

/* ------------------- ensemble collection + icons delete & edit ------------------------*/

.collectioncard {
  width: 330px;
  /* justify-content: center;
  align-content: center; */
}

/* ---------------------- icons delete & edit --------------------- */

.suppmodif{
display: flex;
justify-content: flex-end;
margin-bottom: 10px;
}

.suppmodif img{
  width: 18px;
 }

/*icons invisibles pour garder l'espacement */

.transp{
 visibility: hidden;}


/* --------------------  div contour violet avec image, description .. -------------- */


.parent{
background-color: #04001ca4;
}

.imgdecale {
  position: relative;
  object-fit: cover;
  right: 40px;
  width: 310px;
  height: 180px;
  margin-top: 10px;
  border-radius: 10px;
}

/* -------------------------------- add a collection ----------------------------------*/


.purpleborder div {
  background-color: #6a52f0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.addcollection.purpleborder img {
  width: 20px;
  height: 20px;  
} 

.purpleborder.parent.collectioncard {
  width: 290px;
}