/*COLLECTION, CARD sur le côté 90° */

.pagetitle {
  z-index: -1;
  position: absolute;
  left: -260px;
  top: 300px;

  color: rgba(255, 235, 205, 0);
  font-weight: 900;
  font-size: 96px;
  

  -webkit-text-stroke: 1.5px #6a52f0;
  transform: rotate(90deg);
}

/* titre card placé differement */
.pgcard{
  left: -125px
}

/* Encard bord violet */

.purpleborder {
  border: 1px solid #6a52f0;
  border-radius: 15px;
  padding: 20px;
}

/* Titre gras des collections par exemple */

.purplefat {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #6a52f0;
}

/* Text description des collections par exemple */

p {
  width: fit-content;
  margin: 0;
  text-align: center;
}



.shadow {
  box-shadow: 0px 4px 30px rgba(106, 82, 240, 0.22);
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/* Quand click dans input pas de contours */

*:focus {
  outline: none;
}

/* Text description des collections par exemple */
.whitetext {
  color: white;
  font-size: 12px;
}
