.header-main{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 30px rgba(106, 82, 240, 0.22);
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    z-index: 100;
  }
  
  .icon{
    width: 20px;
    padding-left: 10px;
  }
  