.header-main{
    background-color: #030011;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    height: 65px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 20px rgba(106, 82, 240, 0.22);
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    z-index: 100;
  }
  
  .icon{
    width: 25px;
    padding-left: 10px;
  }

  nav {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header-main>span>img {
    width: 60px;
    position: relative;
    left: 25px;
  }
  
  #squares {
    width: 22px;
  }