/* fat div with recto/verso of userlog */

.join {
  position: relative;
  width: 800px;
  height: 550px;
  transform-style: preserve-3d;
  border-radius: 40px;
  transition: 1s;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;


}

/* rotate kinda */

.joinus {
  width: 800px;
  height: 550px;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 40px;
  
}

/* event flip */

.join.flip {
  transform: rotateY(180deg);
}

.join {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/***********************************************************************************************/



/* --------------------| SIGN IN |---------| START |--------------------- */

.signin {
  background-color: #04001c;
  display: flex;
  flex-flow: column wrap;
}

.gladtomeetyou{
  color: white;
  background-color: #6a52f0;
  width: 355px;
  height: 100%;
  border-radius: 0px 40px 40px 40px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.signintoluvit{
  color: #6a52f0;
  height: 100%;
    width: 57%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

/* --------------------| SIGN IN |---------| END |--------------------- */



/***********************************************************************************************/



/* --------------------| SIGN UP |---------| START |--------------------- */

.joinus.signup {
  display: flex;
}

.signup {
  background-color: #04001c;
  transform: rotateY(180deg);
}

/*\$$$---- button -----$$$\*/

.button {
  background-color: white;
  color: #6a52f0;
  border: none;
  border-radius: 30px;
  width: fit-content;
  padding: 15px 80px 15px 80px;
  cursor: pointer;
}

.purple {
  background-color: #6a52f0;
  color: white;
  margin-top: 40px;
}

/*\$$$---- title -----$$$\*/

.fat {
  cursor: default;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  margin-bottom: 20px;
}

.closer {
  margin-bottom: 10px;
}

/* ----------- SIGN IN / flip to process -------- */

.blanc {
  color: white;
  background-color: #6a52f0;
  width: 600px;
  border-radius: 40px 0px 40px 40px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.small{
  font-size: 18px;
  font-weight: 200;
line-height: 22px ;
margin-bottom: 110px;
}

/* ----------- SIGN UP / process -------------- */

.couleur {
  color: #6a52f0;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}



.inputone {
  color: #04001c;
  border: 1px solid #6a52f0;
  border-radius: 30px;
  width: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 100px;
  margin-top: 15px;
  background-color: white;
}

.cursor {
  cursor: text;
}

.formsign {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
}


/* --------------------| SIGN UP |---------| END |--------------------- */
